<div class="list-group mt-5" id="top">
  <a class="list-group-item list-group-item-action mb-5">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Pesquet's parrot</h4>
      <small>4 days ago</small>
    </div>
    <p class="mb-1">
      Pesquet's parrot (Psittrichas fulgidus), also known as the Dracula
      parrot[2] or as the vulturine parrot (leading to easy confusion with
      Pyrilia vulturina from Brazil), is the only member of its genus, and its
      genus is the only member of the subfamily Psittrichadinae. It is endemic
      to hill and montane rainforest in New Guinea.
    </p><br />
    <h6 class="mb-1">Description</h6>
    <p class="mb-1">
      Pesquet's parrot is a large parrot with a total length of approximately 46
      cm (18 in) and a weight of 680–800 g (24–28 oz). Its plumage is black,
      with greyish scaling to the chest, and a red belly, uppertail coverts and
      wing-panels. The adult male has a red spot behind the eye, which is not
      seen in the adult female. Compared to most other parrots it appears
      unusually small-headed, in part due to the bare black facial skin and the
      relatively long, hooked bill. This rather vulture-like profile is the
      reason behind its alternative common name.
    </p><br />
    <h6 class="mb-1">Behaviour</h6>
    <p class="mb-1">
      Pesquet's parrot is a highly specialised frugivore, feeding almost
      exclusively on a few species of figs. Flowers and nectar have also been
      reported. At least in parts of its range, it is seasonally nomadic in
      response to the availability of fruits. The bare part of the head is
      presumably an adaptation to avoid feather-matting from sticky fruits.
      Little is known about its breeding habits in the wild. Typically it lays
      two eggs in a nest in a large, hollow tree. It is typically seen in pairs
      or groups up to 20 individuals. In flight, it alternates between rapid
      flapping and short glides.
    </p><br />
    <h6 class="mb-1">Status</h6>
    <p class="mb-1">
      Its feathers are highly prized. This, combined with high prices in
      aviculture, has resulted in over hunting. Habitat loss also presents an
      ongoing problem. For these reasons, it is evaluated as Vulnerable on the
      IUCN Red List of Threatened Species. Pesquet's parrot is listed on
      Appendix II of CITES.
    </p>
    <div>
      <img src="../../assets/img/parrot-1.jpg" alt="some parrot pic" style="height: 300px;"/>
    </div>
  </a>
  <a class="list-group-item list-group-item-action mb-5">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Bourke's parrot</h4>
      <small>4 days ago</small>
    </div>
    <p class="mb-1">
      Bourke's parrot (Neopsephotus bourkii, formerly known as Neophema
      bourkii), also known as the blue-vented parrot, sundown parrot,
      pink-bellied parrot, Bourke's parakeet, Bourke or "Bourkie", is a small
      parrot found in Australia and the only species in its genus, Neopsephotus.
      It is approximately 19 cm long and weighing around 45 grams. It is
      named after General Sir Richard Bourke, Governor of New South Wales from
      1831 to 1837.
    </p><br />
    <h6 class="mb-1">Description</h6>
    <p class="mb-1">
      The Bourke's parrot is a relatively small species. They tend to vary
      between 18 cm and 23 cm in length with a tail length of approximately 9
      cm. The females of the species tend to be slightly smaller than the males:
      males of the species weigh between 47 g and 49 g whilst females weigh
      between 41 g and 49 g. Both sexes look very similar until the age of nine
      months, after which they come into full plumage colour. In the wild,
      Bourke's parakeets display an overall brown colouration with a pink
      abdomen, pinkish breast and a blue rump. The legs are dark-brown, with
      zygodactyl toes. The bill is yellowish-brown. The adult male has a blue
      forehead while the adult female has a little or no blue on the forehead.
      The Bourke's parrot's feathers help it blend in with the reddish soil of
      its arid home. There are four documented mutations found in captive
      Bourke's parrots; yellow, Isabel, fallow and pink or rosa. The bird's
      call has been described as a "soft twitter". Other sounds made by the
      Bourke's parrot go "chu-vee", "chirrup chirrup", or when alarmed,
      "kik-kik-kik".
    </p><br />
    <h6 class="mb-1">Taxonomy and naming</h6>
    <p class="mb-1">
      The name of the Bourke's parrot comes from Sir Thomas L. Mitchell, who
      spotted the bird in New South Wales in 1835. Mitchell named the species
      after Sir Richard Bourke, the governor of the state at the time. The
      ornithologist John Gould wrote the first scientific description of the
      Bourke's parrot in 1841. Gould initially classified the species as
      Euphema bourkii, but it was later classified within the genus Neophema
      which fully consists of grass parakeets. In the mid-90s, the Bourke's was
      reclassified into its own genus, Neopsephotus. This was done because of a
      lack of evidence that the parrot could hybridize with the rest of the
      Neophema genus; they are different in colouration and live a nomadic
      lifestyle throughout the arid regions of Australia. The Bourke's
      parrot is still however referred to as a type of grass parakeet.
    </p><br />
    <h6 class="mb-1">Distribution and habitat</h6>
    <p class="mb-1">
      The Bourke's parrot is native to Australia. As a nomadic species,
      following water and food sources, it has a vast range. The Bourke's parrot
      is mainly found in sparsely populated areas; however they have been known
      to dwell in urban areas as well. These parrots can be found from the
      South-western parts of Queensland deep into western New South Wales,
      throughout Central Australia to the far northern parts of South Australia
      and parts of Western Australia. The Bourke's parrot's main habitat
      consists of areas dominated by Acacia species, particularly the mulga, in
      dry spinifex plains. The species can also be found in native cypress
      and other open eucalypt woodlands.
    </p>
    <div>
      <img src="../../assets/img/parrot-2.jpg" alt="some parrot pic" style="height: 300px;"/>
    </div>
  </a>
  <a class="list-group-item list-group-item-action mb-5">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Major Mitchell's cockatoo</h4>
      <small>4 days ago</small>
    </div>
    <p class="mb-1">
      Major Mitchell's cockatoo (Lophochroa leadbeateri), also known as
      Leadbeater's cockatoo or the pink cockatoo, is a medium-sized cockatoo
      restricted to arid and semi-arid inland areas of Australia. It is here
      placed in its own monotypic genus Lophochroa, though to include it in
      Cacatua as others do is not wrong as long as the corellas are also
      included there. They are also a type of cockatoo.
    </p><br />
    <h6 class="mb-1">Description</h6>
    <p class="mb-1">
      With its soft-textured white and salmon-pink plumage and large, bright red
      and yellow crest, it is often described as the most beautiful of all
      cockatoos. It is named in honour of Major Sir Thomas Mitchell, who wrote,
      "Few birds more enliven the monotonous hues of the Australian forest than
      this beautiful species whose pink-coloured wings and flowing crest might
      have embellished the air of a more voluptuous region."
      <br />
      Sex<br />
      Major Mitchell females and males are almost identical. The males are
      usually bigger. The female has a broader yellow stripe on the crest and
      develop a red eye when mature.
      <br />
      Reproduction and lifespan<br />
      The bird reaches sexual maturity around 3–4 years old. The oldest recorded
      Major Mitchell's cockatoo died at 83 years old.
    </p><br />
    <h6 class="mb-1">Systematics and naming</h6>
    <p class="mb-1">
      Major Mitchell's cockatoo may be more closely related to Cacatua than is
      the galah, and that its lineage diverged around the time of or shortly
      after the acquisition of the long crest; probably the former as this crest
      type is not found in all Cacatua cockatoos, so must have been present in
      an early or incipient stage at the time of the divergence of the Major
      Mitchell's cockatoo's ancestors. Like the galah, this species has not lost
      the ability to deposit diluted pigment dyes in its body plumage, although
      it does not produce melanin coloration anymore, resulting in a lighter
      bird overall compared to the galah. Indeed, disregarding the crest, Major
      Mitchell's cockatoo looks almost like a near-leucistic version of that
      species. Another indication of the early divergence of this species from
      the "white" cockatoo lineage is the presence of features found otherwise
      only in corellas, such as its plaintive yodeling cry, as well as others
      which are unique to Major Mitchell's and the true white cockatoos, for
      example the large crest and rounded wing shape. The scientific name
      commemorates the British naturalist, Benjamin Leadbeater. In Central
      Australia south of Alice Springs, the Pitjantjatjara term is
      kakalyalya.
    </p><br />
    <h6 class="mb-1">Distribution and habitat</h6>
    <p class="mb-1">
      In contrast to those of the galah, populations of Major Mitchell's
      cockatoos have declined rather than increased as a result of man-made
      changes to the arid interior of Australia. Where galahs readily occupy
      cleared and part-cleared land, Major Mitchell's cockatoos require
      extensive woodlands, particularly favouring conifers (Callitris spp.),
      sheoak (Allocasuarina spp.) and eucalypts. Unlike other cockatoos, Major
      Mitchell pairs will not nest close to one another, so they cannot tolerate
      fragmented, partly cleared habitats, and their range is contracting. In
      the Mallee region of Victoria where the galah and Major Mitchell's
      cockatoo can be found to be nesting in the same area, the two species have
      interbred and produced hybridised offspring occasionally.
    </p>
    <div>
      <img src="../../assets/img/parrot-3.jpg" alt="some parrot pic" style="height: 300px;"/>
    </div>
  </a>
</div>

<div class="footer">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a style="cursor: pointer;" class="nav-link" (click)="windowScroll()">Go up</a>
    </li>
  </ul>

</div>
