<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Your Name</label>
    <input type="text" id="name" name="name" class="form-control" ngModel required #nameCtrl="ngModel" />
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">
      Please enter your a name!
    </span>
    <label for="email">Your Email</label>
    <input type="text" id="email" name="email" class="form-control" ngModel required #emailCtrl="ngModel" />
    <span class="help-block" *ngIf="emailCtrl.invalid && emailCtrl.touched">
      Please enter your a email!
    </span>
  </div>
  <div class="form-group">
    <label for="gender">Choose Gender</label>
    <select name="gender" id="gender" class="form-control" ngModel>
      <option *ngFor="let gender of availableGenders" value="{{ gender.value }}">
        {{ gender.display }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
    Contact
  </button>
</form>

<div *ngIf="formData" class="card mt-4">
  <h5 class="card-header">Your contact informations</h5>
  <div class="card-body">
    <h5 class="card-title">{{ formData.name }}</h5>
    <p class="card-text">{{ formData.email }}</p>
    <p class="card-text">{{ formData.gender }}</p>
    <a style="cursor: pointer;" class="btn btn-primary" (click)="sendData()">Send Data</a>
  </div>
</div>
